doctype html
html
  head 
    title Awesome Yoga Classes
    block scripts 
    block style
  body
  nav#navbar
       ul
           div#logo
               img(src="/static/img/logo.png")
               | AYC
           li #[a(href="/") Home]
           li #[a(href="/") About]
           li #[a(href="/") Services]
           li #[a(href="/") Class Info]
           li #[a(href="/contact") Contact Us]

  block content 
  footer#footer
         | Copyright @ 2021 AwesomeYogaClasses.com. | All rights reserved